SQLAlchemy~=2.0.43
alembic~=1.16.5
fastapi
uvicorn[standard]
sqlalchemy>=2.0
asyncpg
pydantic>=2.0
httpx
pytest
pytest-asyncio
black
isort
flake8
pytest-cov
pydantic-settings
psycopg2-binary
pydantic[email]
PyJWT
passlib
aiosmtplib
python-multipart
aiosqlite
bcrypt